* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px
}

body {
  background-color: #fff;
  font-family: 'Montserrat', sans-serif;
}

/* ************** */
/* General Styles */

.container {
  margin: 0 5vw;
}

.logo {
  width: 200px;
  height: 8rem
}

.btn:link,
.btn:visited {
  display: flex;
  font-size: 2.4rem;
  padding: 1.6rem 3.2rem;
  text-decoration: none;
  border-radius: 100px;
}

.footer__heading {
  font-size: 1.6rem;
  color: #cce334;
  margin-bottom: 1.2rem;
}

.grid-3-cols {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  gap: 52px;
}


/* ************** */
/* Header */

.header {
  position: fixed;
  width: 100%;
  transition: all 0.3s;
}

.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo--header {
  fill: #e6ebe9;
  cursor: pointer;
  transition: fill 0.3s;
}

.logo--header:hover {
  fill: #011e13;
  stroke: #011e13;
}

.header__menu {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  list-style: none;
  font-size: 2.4rem;
}

.menu__link:link,
.menu__link:visited {
  text-decoration: none;
  color: #e6ebe9;
  transition: color 0.3s;
}

.menu__link:hover,
.menu__link:active {
  color: #013220;
  font-weight: bold;
}

.btn.btn--menu:link,
.btn.btn--menu:visited {
  padding: 0.8rem 1.6rem;
  font-size: 2rem;
  border-radius: 8px;
  transition: background-color 0.3s;
}

.btn--menu--sec:link,
.btn--menu--sec:visited {
  background-color: #99ada6;
  color: #01281a;

}

.btn--menu--sec:hover,
.btn--menu--sec:active {
  background-color: #809990;
}

.btn--menu--main:link,
.btn--menu--main:visited {
  background-color: #013220;
  color: #fff;
}

.btn--menu--main:hover,
.btn--menu--main:active {
  background-color: #011e13;
}

/* ************** */
/* Sticky Nav */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  backdrop-filter: blur(4px);
  background-color: rgba(204, 214, 210, 0.8);
  z-index: 1;
}

.sticky .logo--header {
  width: 200px;
  height: 8rem;
  fill: #1a4736;
  cursor: pointer;
}

.sticky .logo--header:hover {
  fill: #012d1d;
}

.sticky .menu__link:link,
.sticky .menu__link:visited {
  text-decoration: none;
  color: #1a4736;
  transition: color 0.3s;
}

.sticky .menu__link:hover,
.sticky .menu__link:active {
  color: #012d1d;
}

.sticky .btn--menu--sec:link,
.sticky .btn--menu--sec:visited {
  background-color: #809990;
}

.sticky .btn--menu--sec:hover,
.sticky .btn--menu--sec:active {
  background-color: #678479;
}

/* ************** */
/* Carousel */
.hero-section {
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.hero-section__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: white;
  text-align: center;
}

.hero-section__text h1 {
  margin: 0;
  padding: 20px;
  background: rgba(34, 34, 34, 0.7);
}


.carousel {
  display: flex;
  overflow: hidden;
  width: 100%;
}

.slide {
  min-width: 100%;
  display: flex;
  align-items: center; 
  justify-content: center; 
}

.slide img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.carousel img {
  width: 130vw;
  object-fit: contain;
  height: 130vh;
}


/* ************** */
/* Hero Section */
.hero-section {
  height: 100vh;
  background-image: linear-gradient(rgba(34, 34, 34, 0.7), transparent), url(./hero.jpg);
  background-position: center;
  background-size: cover;
}

.hero-section__text {
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  gap: 4.8rem;
}

.hero__heading {
  font-size: 4.4rem;
  color: #e6ebe9;
}

.btn--hero-section:link,
.btn--hero-section:visited {
  background-color: #013220;
  color: #e6ebe9;
  box-shadow: 0 2px 4px rgba(34, 34, 34, 0.5);
  transition: background-color 0.3s;
}

.btn--hero-section:hover,
.btn--hero-section:active {
  background-color: #011e13;
}

.test {
  font-size: 2.4rem;
  color: #1a4736;
  text-align: center;
  padding: 4.8rem;
  margin-bottom: 2.4rem;
}

h2 {
  font-size: 3.2rem;
}

.footer {
  background-color: #013220;
  padding: 2.4rem;
  color: #fff;
  display: grid;
  grid-template-rows: 1fr 1fr auto;
}

.footer__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__logo-container {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.logo--footer {
  fill: #fff;
}

.footer__logo-text {
  font-size: 1.6rem;
  margin: -1.6rem 0 2.4rem;
}

.newsletter__email {
  display: flex;
  position: relative;
}

.newsletter__input {
  flex-grow: 1;
  border: none;
  border-radius: 1000px;
  width: 300px;
  height: 36px;
  padding: 1.2rem;
  font-family: 'Montserrat', sans-serif;
  outline: 1px solid #fff;
}

.btn--subscribe:link,
.btn--subscribe:visited {
  position: absolute;
  top: 2px;
  right: 1px;
  display: flex;
  font-size: 1.6rem;
  padding: 0.6rem 1.2rem;
  text-decoration: none;
  border-radius: 100px;
  background-color: #a8b415;
  color: #fff;
  transition: background-color 0.3s;
}

.btn--subscribe:hover,
.btn--subscribe:active {
  background-color: #838507;
}

.footer__content {
  margin-bottom: 2.4rem;
}

.mission__text {
  font-size: 1.4rem;
  line-height: 1.6;
}

.contact {
  font-style: normal;
  justify-self: center;
}

.contact__info {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.8em;
}

.contact__link:link,
.contact__link:visited {
  font-size: 1.4rem;
  text-decoration: none;
  color: #fff;
}

.contact__link:hover,
.contact__link:active {
  text-decoration: underline;
}

.contact__link:last-child {
  margin-bottom: 1.2rem;
}

.footer__heading--contact {
  font-size: 1.5rem;
  margin-bottom: 0.8rem;
}

.social__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.social__link:link,
.social__link:visited {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  color: #fff;
  font-size: 2.4rem;
  text-decoration: none;
  transition: all 0.3s;
}

.social__link:hover,
.social__link:active {
  background-color: #fff;
  color: #013220;
}

.footer__nav {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.8em;
}

.quick-links {
  justify-self: center;
}

.quick-link:link,
.quick-link:visited {
  font-size: 1.4rem;
  text-decoration: none;
  color: #fff;
}

.quick-link:hover,
.quick-link:active {
  text-decoration: underline;
}

.footer__legal {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.8rem 1.6rem;
  font-size: 1.6rem;
}

.legal__link:link,
.legal__link:visited {
  text-decoration: none;
  color: #fff;
  font-size: 1.6rem;
}

.legal__link:hover,
.legal__link:active {
  text-decoration: underline;
}

/* ----------------------------------------Donation section------------------------------------------------  */

.donate_title{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 3rem;
  text-align: center;
  color: #ffff;
  padding-top: 30px;
  font-weight: bolder;

}  

.bg_img{
  margin-top: 10px;  
  height: 100vh; 
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: overlay;
  background-image: url("farming.jpg");
}

.form-container{
  display: flex;
  flex-direction: column;
  text-align:start ;
  padding: 100px; 
  gap: 8px;
  position: absolute;
  border-radius: 5px;
  background-color: #B9BD41;
  right: 0;
  margin: 30px;
  max-width: 500px;
}
/* Set a style for the submit button */
.donate_btn {
  background-color: #7EBC3D;
  border-radius: 4px;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
 }

.donate_btn:hover {
  opacity: 1;
  background-color: #3A602F;
}  

input[type=text], input[type=email], input[type=number]{
  width: 100%;
  padding: 10px 90px;
  outline: none;
  text-align: left;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/* ----------------------------Contact Info------------------------------------ */

.contact_img{
  margin-top: 10px;  
  height: 100vh; 
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: overlay;
  background-image: url("hero5.jpg");
}

.contact-container{
  display: flex;
  flex-direction: column;
  text-align:start ;
  padding: 100px; 
  gap: 8px;
  position: absolute;
  border-radius: 5px;
  background-color: #B9BD41;
  right: 0;
  margin: 30px;
  max-width: 500px;
}
/* Set a style for the submit button */
.submit_btn {
  background-color: #013220;
  border-radius: 4px;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
 }

 /* ----------------------------Sign Up------------------------------------ */

.signup_img{
  margin-top: 10px;  
  height: 100vh; 
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: overlay;
  background-image: url("hero6.jpg");
}

input[type=text],
 input[type=email], 
 input[type=number]{
  width: 100%;
  padding: 10px 90px;
  outline: none;
  text-align: left;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.signup-container{
  display: flex;
  flex-direction: column;
  text-align:start ;
  padding: 100px; 
  gap: 8px;
  position: absolute;
  border-radius: 5px;
  background-color: #B9BD41;
  right: 0;
  margin: 30px;
  max-width: 500px;
}
/* Set a style for the submit button */
.signup_btn {
  background-color: #013220;
  border-radius: 4px;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
 }

  /* ----------------------------Sign In------------------------------------ */

.signin-form {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.signin_img {
    text-align: center;
    margin-bottom: 15px;
}
.signup_form {
    padding: 20px;
}
.container3 {
    max-width: 400px;
    margin: 0 auto;
}
.signin-container label {
    display: block;
    margin-bottom: 5px;
}
.signin-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.signup-link {
    margin-top: 10px;
    text-align: center;
}

.signin_img{
  margin-top: 10px;  
  height: 100vh; 
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: overlay;
  background-image: url("hero6.jpg");
}

.signin-container input[type="email"],
.signin-container input[type="password"] {
    width: 100%;
    padding: 12px;
    outline: none;
    text-align: left;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.signin-container{
  display: flex;
  flex-direction: column;
  text-align:start ;
  padding: 100px; 
  gap: 8px;
  position: absolute;
  border-radius: 5px;
  background-color: #B9BD41;
  right: 0;
  margin: 30px;
  max-width: 500px;
}
/* Set a style for the submit button */
.signin_btn {
  background-color: #013220;
  border-radius: 4px;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
 }